@font-face {
    font-family: myFirstFont;
    src: url(font/FOTNewRodin\ Pro\ B.otf);
  }
body {
    background-color: rgb(255, 255, 255);
}
.mainDiv {
    font-family: myFirstFont;
    border-radius: 25px;
    border: 2px outset rgb(0, 0, 0);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-attachment: fixed;
    text-align: center; 
}
#socialMedia {
    width: 400px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }

