@font-face {
    font-family: myFirstFont;
    src: url(font/FOTNewRodin\ Pro\ B.otf);
  }
body {
    background-color: rgb(255, 255, 255);
}
.mainDiv {
    font-family: myFirstFont;
    border-radius: 25px;
    border: 2px outset rgb(0, 0, 0);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto calc(100% - 200px);
    grid-gap: 20px;
}
#socialMedia {
    padding: 10px;
    position: relative;
}
.left-div {
  border-radius: 25px;
  border: 1px outset rgb(0, 0, 0);
}
/*.right-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
}
*/

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
