@font-face {
    font-family: myFirstFont;
    src: url(font/FOTNewRodin\ Pro\ B.otf);
  }
body {
    background-color: rgb(255, 255, 255);
}
.mainDiv {
    font-family: myFirstFont;
    border-radius: 25px;
    border: 2px outset rgb(0, 0, 0);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-attachment: fixed;
    overflow:hidden;
}
#socialMedia {
    padding: 10px;
    position: relative;
  }
#thing {
  display: inline-block;
}
#thing2 {
  vertical-align:top;
    display: inline-block;
    height: inherit;
    border: 2px outset rgb(0, 0, 0);
}


